<!-- MODALSIGNIN ERROR -->
<div
    class="modal__sign fixed top-0 left-0 right-0 bottom-0 invisible opacity-0  w-full h-full z-50 bg-[hsla(0,0%,0%,0.443)] duration-200">
    <div class="max-w-[372px] mx-auto mt-8">
        <div class="bg-[#F6F6F6] px-4 pb-4 pt-16 rounded-3xl relative">
            <img class="modal__close absolute top-5 right-6 w-5 h-5 cursor-pointer" src="images/dist/close.svg"
                alt="close">
            <div class="mb-3 pb-2 border-b border-solid border-[#46B1F0]">
                <div class="text-base text-center font-medium text-[#F91600] mb-7">Невірний логін або пароль
                </div>
                <button
                    class="mx-auto py-[10px] px-5 block rounded-[40px] bg-[#46B1F0] border-none cursor-pointer text-[#F6F6F6] text-sm font-medium hover:bg-[linear-gradient(90deg,#46B1F0_0%,#005BA9_100%)]  hover:shadow-[0px_4px_12px_0px_rgba(0,0,0,0.25)] duration-200">Спробувати
                    знову</button>
            </div>
            <div class="text-sm font-normal text-[#333E48] text-center mb-2">або увійти за допомогою:</div>
            <div class="flex justify-center items-center gap-3 mb-3">
                <a class="" href="">
                    <img src="images/dist/modal/icon-1.svg" alt="icon-1">
                </a>
                <a class="" href="">
                    <img src="images/dist/modal/icon-2.svg" alt="icon-2">
                </a>
                <a class="" href="">
                    <img src="images/dist/modal/icon-3.svg" alt="icon-3">
                </a>
            </div>
            <div class="mt-2 mb-2 pt-2 pb-2 text-sm font-normal text-[#AEAEAE] text-center">
                Новий користувач?</div>
            <button
                class="w-max py-[10px] px-[24px] mx-auto block text-sm font-medium text-[#333E48] rounded-[48px] border-2 border-solid border-[#46B1F0] transition-all duration-200 hover:text-white hover:bg-[#46B1F0]">Зареєструватись</button>
        </div>
    </div>
</div>