 <!-- MODAL SUCCES -->
 <div
     class="fixed top-0 left-0 right-0 bottom-0 opacity-0 invisible  w-full h-full z-50 bg-[hsla(0,0%,0%,0.443)] duration-200">
     <div class="max-w-[372px] mx-auto mt-8">
         <div class="bg-[#F6F6F6] px-4 pb-4 pt-16 rounded-3xl relative">
             <img class="modal__close absolute top-5 right-6 w-5 h-5 cursor-pointer" src="images/dist/close.svg"
                 alt="close">
             <div
                 class="text-lg font-medium text-[#333E48] mb-5 pb-5 text-center border-b border-solid border-[#46B1F0]">
                 Реєстрація успішна
             </div>
             <button
                 class="mx-auto py-[10px] px-5 block rounded-[40px] bg-[#46B1F0] border-none cursor-pointer text-[#F6F6F6] text-sm font-medium duration-200">До
                 товарів</button>
         </div>
     </div>
 </div>