<!-- MODAL LOGIN -->
<div
    class="modal__login fixed top-0 left-0 right-0 bottom-0 opacity-0 invisible  w-full h-full z-50 bg-[hsla(0,0%,0%,0.443)] duration-200">
    <div class="max-w-[372px] mx-auto mt-8">
        <div class="bg-[#F6F6F6] px-4 pb-4 pt-16 rounded-3xl relative">
            <img class="modal__close absolute top-5 right-6 w-5 h-5 cursor-pointer" src="images/dist/close.svg"
                alt="close">
            <div class="text-lg font-medium text-[#333E48] mb-5 text-center">Вітаємо!
            </div>
            <form action="">
                <label class="text-[#46B1F0] text-lg font-medium mb-2 block" for="">Email або логін</label>
                <input class="p-[10px] mb-6 rounded-3xl w-full bg-[#F6F6F6] duration-200 outline-none text-sm text-[#AEAEAE] font-normal hover:placeholder:text-[#46B1F0]
                focus:text-black shadow_mod" placeholder="Введіть адресу електронної пошти або логін" type="mail">
                <label class="text-[#46B1F0] text-lg font-medium mb-2 block" for="">Пароль</label>
                <input class="p-[10px] mb-6 rounded-3xl w-full bg-[#F6F6F6] duration-200 outline-none text-sm text-[#AEAEAE] font-normal hover:placeholder:text-[#46B1F0]
                    focus:text-black shadow_mod" placeholder="Введіть пароль" type="password">
                <label class="text-[#46B1F0] text-lg font-medium mb-2 block" for="">Повторіть пароль</label>
                <input class="p-[10px] mb-6 rounded-3xl w-full bg-[#F6F6F6] duration-200 outline-none text-sm text-[#AEAEAE] font-normal hover:placeholder:text-[#46B1F0]
                            focus:text-black shadow_mod" placeholder="Введіть пароль" type="password">
                <button
                    class="modal_login mx-auto py-[10px] px-5 block rounded-[40px] bg-[#46B1F0] border-none cursor-pointer text-[#F6F6F6] text-sm font-medium duration-200">Зареєструватись</button>
            </form>
            <div
                class="text-sm font-normal text-[#333E48] text-center mb-2 mt-2 pt-2 border-t border-solid border-[#46B1F0]">
                або увійти за допомогою:</div>
            <div class="flex justify-center items-center gap-3 mb-3">
                <a class="" href="">
                    <img src="images/dist/modal/icon-1.svg" alt="icon-1">
                </a>
                <a class="" href="">
                    <img src="images/dist/modal/icon-2.svg" alt="icon-2">
                </a>
                <a class="" href="">
                    <img src="images/dist/modal/icon-3.svg" alt="icon-3">
                </a>
            </div>
            <div class="mt-2 mb-2 pt-2 pb-2 text-sm font-normal text-[#AEAEAE] text-center">
                Вже маєте акаунт?</div>
            <button
                class="w-max py-[10px] px-[24px] mx-auto block text-sm font-medium text-[#333E48] rounded-[48px] border-2 border-solid border-[#46B1F0] transition-all duration-200 hover:text-white hover:bg-[#46B1F0]">Увійти</button>
        </div>
    </div>
</div>