<!-- MODAL - THANK -->
<div
    class="modal__thank fixed top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 invisible  z-50 bg-[hsla(0,0%,0%,0.443)] duration-200">
    <div class="max-w-[300px] mx-auto mt-8">
        <div class="bg-[#F6F6F6] px-4 pb-4 pt-16 rounded-3xl relative">
            <img class="modal__close absolute top-5 right-6 w-5 h-5 cursor-pointer" src="images/dist/close.svg"
                alt="close">
            <div class="text-lg font-medium text-[#333E48] mb-5">Ваше замовлення прийнято!</div>
            <div class="text-sm font-normal text-[#333E48] mb-2 pb-2 border-b border-solid border-[#46B1F0]">
                Дякуємо за звернення! Наш менеджер зв’яжеться з Вами найближчим часом.</div>
            <a class="w-max py-[10px] px-[18px] mx-auto block text-sm font-medium text-[#333E48] rounded-[48px] border-2 border-solid border-[#46B1F0] transition-all duration-200 hover:text-white hover:bg-[#46B1F0]"
                href="/">Повернутись
                на головну</a>
        </div>
    </div>
</div>